{% extends 'base.html' %}

{% block header %}
    <div style="position: absolute; top: 14px; right: 176px; font-size: 18px"><a class="navbar-brand btn-lg btn-warning" href="index.html">Logout</a></div>
    <div style="position: absolute; top: 12px; left: 384px;"><a class="navbar-brand btn-lg btn-info" href="{{url_for('formular')}}">Formular</a></div>
{% endblock %}

{% block content %}
    <h1>{% block title %} Here you can see the entries of your filled <a href="formular.html">formular</a> from before {% endblock %}</h1>
<!-- <section>
        <form class="form-horizontal">
            <fieldset> -->
    <div class="jumbotron">
        <h1>The complete saved data</h1>

    </div>
        <!-- </fieldset>
    </form>
</section> -->
{% endblock %}