{% extends 'base.html' %}

{% block header %}
    <div style="position: absolute; top: 14px; right: 176px; font-size: 18px"><a class="navbar-brand btn-lg btn-warning" href="index.html">Logout</a></div>
    {% if DB_EXISTS_DATA == False %}

    {% elif DB_EXISTS_DATA == True %}
        <div style="position: absolute; top: 12px; left: 384px;"><a class="navbar-brand btn-lg btn-info" href="{{url_for('show_current_db_entries')}}">DB Content</a></div>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>{% block title %} Fill in the required information from below {% endblock %}</h1>
        <section>
            <form class="form-horizontal" method="post" action="/db_entry_adds">
                <fieldset>
                    <!-- Form Name -->
                    <h2>Use now the fields below to input all informations needed for registering within this docker-based app!</h2>
                    <div class="container border">
                        <!-- <div class="row flex-row">
                            <div class="form-group col-md-5">
                                <label style="font-size: 1cm; color: yellow" class="col-md-8 control-label" for="Id">Personel ID</label>
                                <div class="col-md-10">
                                    <input id="personelId" name="inputPersonelId" type="number" min="1" placeholder="e.g. 001" class="form-control">
                                </div>
                            </div>
                        </div> -->

                        <div class="row flex-row">
                        <!-- Text input-->
                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-6 control-label" for="Name">Name</label>
                                <div class="col-md-10">
                                    <input id="name" name="inputNames" type="text" placeholder="e.g. Foo" class="form-control">
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-6 control-label" for="Surname">Surname</label>
                                <div class="col-md-10">
                                    <input id="surname" name="inputSurname" type="text" placeholder="e.g. Bar" class="form-control input-md">
                                    <!-- <textarea class="form-control" id="txtPost" name="inputDescription"></textarea> -->
                                </div>
                            </div>
                        </div>

                        <div class="row flex-row">
                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-6 control-label" for="Age">Age</label>
                                <div class="col-md-10">
                                    <input id="age" name="inputAge" type="number" min="1" placeholder="e.g. 25" class="form-control input-md">
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-6 control-label" for="email">E-mail</label>
                                <div class="col-md-10">
                                    <input id="email" name="inputEMails" type="email" placeholder="e.g. fm@bla.com" class="form-control input-md">
                                </div>
                            </div>
                        </div>

                        <div class="row flex-row">
                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-6 control-label" for="Street">Street</label>
                                <div class="col-md-10">
                                    <input id="street" name="inputStreet" type="text" placeholder="e.g. John Doe Street" class="form-control input-md">
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-8 control-label" for="Houseno">House no.</label>
                                <div class="col-md-10">
                                    <input id="houseno" name="inputHouseNo" min="0" type="number" placeholder="e.g. 5567" class="form-control input-md">
                                </div>
                            </div>
                        </div>

                        <div class="row flex-row">
                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-9 control-label" for="PostalCode">Postal Code</label>
                                <div class="col-md-10">
                                    <input id="postalcode" name="inputPostalCode" type="number" min="0" placeholder="e.g. 13627" class="form-control">
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-6 control-label" for="city">City</label>
                                <div class="col-md-10">
                                    <input id="city" name="inputCity" type="text" placeholder="e.g. Berlin" class="form-control input-md">
                                </div>
                            </div>
                        </div>

                        <div class="row flex-row">
                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-6 control-label" for="land">Country</label>
                                <div class="col-md-10">
                                    <input id="land" name="inputCountry" type="text" placeholder="e.g. germany" class="form-control input-md">
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label style="font-size: 1cm; color: yellow" class="col-md-11 control-label" for="phonenumber">Phone-number</label>
                                <div class="col-md-10">
                                    <input id="phonenumber" name="inputPhoneNumber" type="tel" placeholder="e.g. +49171123456" class="form-control input-md">
                                </div>
                            </div>
                        </div>



                        <!-- <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="Street">Street</label>
                                <input id="txtTitle" name="inputTitle" type="text" placeholder="placeholder" class="form-control input-md">
                                <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>
                            </div>
                        </div> -->

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">
                                <input id="singlebutton" name="singleButton" class="btn btn-danger" type="submit" style="color: white" value="Save" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
{% endblock %}