{% extends 'base.html' %}

{% block header %}
    <div style="position: absolute; top: 14px; right: 176px; font-size: 18px"><a class="navbar-brand btn-lg btn-warning" href="index.html">Logout</a></div>
{% endblock %}

{% block title %} Index {% endblock %}

{% block content %}
    <h1>This is my own WebApp</h1>
    <br>
    <br>
    <br>
    <h1>Its implemented via Python and the Flask web framework.</h1>
    <br>
    <br>
    <br>
    <h1>Please <a href="sign_up.html">sign up</a> and then <a href="sign_in.html">sign in</a> to use the web app.</h1>
{% endblock %}