{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Foobar {% endblock %}</h1>
    <!-- <br>
    <br>
    <br>
    <h1>foo</h1>
    <br>
    <br>
    <br>
    <h1>bar</h1> -->
    <form class="form-signin" action="/ValidateUserLogin" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="my-btn">
            <button id="btnSignIn" class="btn btn-lg btn-success" type="submit">Sign in</button>
        </div>
    </form>
{% endblock %}