{% extends 'base.html' %}

{% block title %} Sign up {% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <!-- <br>
    <br>
    <br>
    <h1>foo</h1>
    <br>
    <br>
    <br>
    <h1>bar</h1> -->
    <form class="form-signin" action="/sign_ups" method="post">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="my-btn">
            <button id="btnSignUp" class="btn btn-lg btn-success" type="submit">Sign up</button>
        </div>
    </form>
{% endblock %}