h1{
    border: 2px #eee solid;
    border-color: red;
    color: brown;
    text-align: center;
    text-decoration-line: underline;
    padding: 10px;
}

label{
    font-size: 3cm;
    color: red;
    position: absolute;
}

body{
    background-image:url("pictures/bg_webapp.png");
    background-repeat: no-repeat;
    background-size: auto;
}

/*.colored-img{
    object-position: 0%, 100%;1
}*/

footer{
    background-color: aquamarine;
    position: absolute;
    height: 171px;
    bottom: 0px;
/*    color: brown;*/
}

.myfooter{
    background-color: aquamarine;
    position: relative;
    height: 45px;
/*    color: brown;*/
}

.myfooter:before{
    content: "";
    background-color: aquamarine;
    position: absolute;
    height: 45px;
    bottom: 0px;
    z-index: -1;
/*    color: brown;*/
}

h2{
    border: 5px #eee solid;
    border-color: red;
    color: red;
    text-align: left;
    text-decoration-line: underline;
    padding: 15px;
}

/*.bottom-leave-space {
    margin-bottom: 10cm;
}*/

.contact {
    position: absolute;
    top: 12px;
    left: 128px;
}

.about {
    position: absolute;
    top: 12px;
    left: 256px;
}

.content {
    position: absolute;
    top: 12px;
    left: 384px;
}

/*.toprightlo {
  position: absolute;
  top: 14px;
  right: 176px;
  font-size: 18px;
}*/

.toprightsu {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 18px;
}

.toprightsi {
  position: absolute;
  top: 14px;
  right: 96px;
  font-size: 18px;
}

/*.my-label {
    font-size: 3cm;
    color: red;
}*/